
.container {
  font-family: sans-serif;
}

h1,p{
    margin-bottom: 60px;
    display: inline-block;
    border-bottom: 1px dotted;
}

.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltiptext {
  position: absolute;
  background: red;
  color: white;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  visibility: visible;
  top: -50px;   
}
